<section>
    <div class="titulos">
        <h2>fincas</h2>
    </div>
    <div class="descripcion">
        <p>Descubre un mundo de opciones ¡comienza a explorar y sumérgete en la belleza de nuestras fincas en Villeta Cundinamarca!</p>
    </div>
    <div class="container">
        <div class="buscador">
            <app-fincas-buscador (searchEvent)="onSearch($event)"></app-fincas-buscador>
        </div>
        <!-- Bucle *ngFor para recorrer la lista de fincas y crear una tarjeta por cada uno / fadeIn es el llamado a la animación
        definida en el .ts -->
        <div *ngFor="let finca of (filteredFincas || fincas) | slice:0:visibleCardsCount" class="card" [@fadeIn]>            <!-- Encabezado de la tarjeta -->
            <div class="card-img">
                <a [href]="finca.link" target="_blank">
                    <img [src]="finca.image" [alt]="finca.alt" class="project-image">
                </a>
            </div>
            <!-- Cuerpo de la tarjeta -->
            <div class="card-body">
                <h3 class="project-title">{{ finca.title }}</h3>
                <p class="project-description">{{ finca.description }}</p>
                <div class="project-precio">
                    <span *ngFor="let tag of finca.precio" class="tag">{{ tag }}</span>
                </div>
            </div>
            <div class="card-footer">
                 <button class="btn" (click)="abrirGaleria(finca)">Ver Finca</button>
                <a *ngIf="finca.link2 && finca.link2.trim() !== ''" [href]="finca.link2" target="_blank" class="btn" (click)="confirmarSalida($event, finca.link2)">Reservar Airbnb</a>

            </div>
        </div>        
    </div>


    <!-- Modal para mostrar la galería de fotos -->
    <div 
    class="galeria-overlay"
    *ngIf="mostrarGaleria"
    (click)="cerrarGaleria()">

        <div 
            class="galeria"
            (click)="$event.stopPropagation()">

            <!-- CERRAR -->
            <button 
                class="galeria-cerrar"
                (click)="cerrarGaleria()">
                ×
            </button>


            <!-- TITULO -->
            <div class="galeria-header">

                <h2>
                    {{ fincaSeleccionada?.title }}
                </h2>

            </div>


            <!-- FOTO PRINCIPAL -->
            <div class="foto-container">

                <button 
                    class="flecha izquierda"
                    (click)="anteriorFoto()">
                    ‹
                </button>


                <img
                    [src]="fincaSeleccionada?.fotos[fotoActual]"
                    [alt]="fincaSeleccionada?.title">


                <button 
                    class="flecha derecha"
                    (click)="siguienteFoto()">
                    ›
                </button>

            </div>


            <!-- CONTADOR -->

            <div class="contador">

                {{ fotoActual + 1 }} /
                {{ fincaSeleccionada?.fotos.length }}

            </div>


            <!-- MINIATURAS -->

            <div class="miniaturas">

                <img
                    *ngFor="let foto of fincaSeleccionada?.fotos; let i = index"
                    [src]="foto"
                    [class.activa]="i === fotoActual"
                    (click)="fotoActual = i">

            </div>
            
            <div>
                <a rel="noopener noreferrer" class="btn" [href]="fincaSeleccionada.link"  target="_blank"> 📷 Ver fotos en Google Fotos</a>
                
            
            </div>        

        </div>

    </div>
    
    <!-- Contenedor del botón "Cargar más" -->
    <div class="content-button" *ngIf="visibleCardsCount < fincas.length">
        <!-- Botón "Cargar más" -->
        <a class="animate-button" (click)="loadMoreCards()">Cargar más</a>
    </div>   
</section>
